
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 200%;
} 

.contact img{
    width: auto;
    height: 35px;
    vertical-align: middle;
} 

.contact iframe{
    padding-top: 50px;
    width: auto;
    height: 300px;
}

